[submodule ".style/StylePHP"]
	path = .style/StylePHP
	url = https://github.com/symcon/StylePHP
[submodule "libs/SymconModulHelper"]
	path = libs/SymconModulHelper
	url = https://github.com/Nall-chan/SymconModulHelper.git
